[Desktop Entry]
Name=Akonadi Console
Name[ar]=معراض أكونادي
Name[az]=Akonadi Konsolu
Name[bg]=Аконади конзола
Name[ca]=Consola de l'Akonadi
Name[ca@valencia]=Consola d'Akonadi
Name[cs]=Konzole Akonadi
Name[de]=Akonadi-Konsole
Name[el]=Κονσόλα Akonadi
Name[en_GB]=Akonadi Console
Name[es]=Consola de Akonadi
Name[et]=Akonadi konsool
Name[eu]=Akonadi Kontsola
Name[fi]=Akonadi-konsoli
Name[fr]=Console Akonadi
Name[gl]=Consola de Akonadi
Name[hi]=एकोनाडी कंसोल
Name[hu]=Akonadi konzol
Name[ia]=Consol de Akonadi
Name[it]=Console Akonadi
Name[ka]=Akonadi-ის კონსოლი
Name[ko]=Akonadi 콘솔
Name[lt]=Akonadi pultas
Name[nl]=Akonadi-console
Name[nn]=Akonadi-konsoll
Name[pl]=Konsola Akonadi
Name[pt]=Consola do Akonadi
Name[pt_BR]=Console do Akonadi
Name[ro]=Consolă Akonadi
Name[ru]=Консоль Akonadi
Name[sk]=Konzola Akonadi
Name[sl]=Konzola za Akonadi
Name[sr]=Аконадијева конзола
Name[sr@ijekavian]=Аконадијева конзола
Name[sr@ijekavianlatin]=Akonadijeva konzola
Name[sr@latin]=Akonadijeva konzola
Name[sv]=Akonadi-terminal
Name[tr]=Akonadi Konsolu
Name[uk]=Термінал Akonadi
Name[vi]=Bàn điều khiển Akonadi
Name[x-test]=xxAkonadi Consolexx
Name[zh_CN]=Akonadi 控制台
Name[zh_TW]=Akonadi 控制台
Exec=akonadiconsole
Icon=akonadiconsole
Type=Application
Comment=Akonadi Management and Debugging Console
Comment[ar]=معراض لإدارة وتنقيح «أكونادي»
Comment[az]=Akonadi İdarəetmə və Xəta Sazlama Konsolu
Comment[bg]=Конзола за управление и отстраняване на грешки на Akonadi
Comment[ca]=Consola de gestió i depuració per a l'Akonadi
Comment[ca@valencia]=Consola de gestió i depuració per a Akonadi
Comment[cs]=Správa Akonadi a ladicí konzole
Comment[de]=Akonadi-Konsole zur Verwaltung und Fehlersuche
Comment[el]=Τερματικό διαχείρισης και αποσφαλμάτωσης Akonadi
Comment[en_GB]=Akonadi Management and Debugging Console
Comment[es]=Consola de gestión y depuración de Akonadi
Comment[et]=Akonadi haldamise ja silumise konsool
Comment[eu]=Akonadi kudeatzeko eta arazteko kontsola
Comment[fi]=Akonadin hallinta- ja virheenpaikannuskonsoli
Comment[fr]=Console de gestion et de débogage pour Akonadi
Comment[gl]=Consola de xestión e depuración de Akonadi.
Comment[hi]=एकोनाडी प्रबंधन तथा त्रुटि खोजक कंसोल
Comment[hu]=Akonadi felügyeleti és hibakeresési konzol
Comment[ia]=Consol de Akonadi pro gestion e cribrar
Comment[it]=Console di gestione e debugging di Akonadi
Comment[ka]=Akonadi-ის მართვისა და გამართვის კონსოლი
Comment[ko]=Akonadi 관리 및 디버깅 콘솔
Comment[lt]=Akonadi tvarkymo ir derinimo pultas
Comment[nl]=Akonadi-beheer en debugging-console
Comment[nn]=Akonadi-konsoll for handsaming og feilsøking
Comment[pl]=Konsola Akonadi do zarządzania i diagnostyki
Comment[pt]=Consola de Gestão e Depuração do Akonadi
Comment[pt_BR]=Console de gerenciamento e depuração do Akonadi
Comment[ro]=Consolă de gestiune și depanare Akonadi
Comment[ru]=Управление Akonadi и консоль отладки
Comment[sk]=Konzola pre spravovanie a ladenie Akonadi
Comment[sl]=Akonadijeva konzola za upravljanje in razhroščevanje
Comment[sr]=Аконадијева конзола за управљање и исправљање
Comment[sr@ijekavian]=Аконадијева конзола за управљање и исправљање
Comment[sr@ijekavianlatin]=Akonadijeva konzola za upravljanje i ispravljanje
Comment[sr@latin]=Akonadijeva konzola za upravljanje i ispravljanje
Comment[sv]=Akonadi hanterings- och felsökningsterminal
Comment[tr]=Akonadi Yönetim ve Hata Ayıklama Konsolu
Comment[uk]=Термінал керування і діагностики Akonadi
Comment[vi]=Bàn điều khiển quản lí và gỡ lỗi Akonadi
Comment[x-test]=xxAkonadi Management and Debugging Consolexx
Comment[zh_CN]=用于管理和调试 Akonadi 的控制台
Comment[zh_TW]=Akonadi 管理與偵錯控制台
Categories=Qt;KDE;Development;
X-DBUS-ServiceName=org.kde.akonadiconsole
X-AppStream-Ignore=true
